<persistence-unit name="mongo-ogm" transaction-type="JTA">
    <provider>org.hibernate.ogm.jpa.HibernateOgmPersistence</provider>
    <!-- Другие настройки -->
    <properties>
        <property name="hibernate.ogm.datastore.provider" value="mongodb" />
        <property name="hibernate.ogm.datastore.host" value="localhost:27017" />
        <property name="hibernate.ogm.datastore.database" value="local" />
        <!-- Другие настройки -->
    </properties>
</persistence-unit>